/*font family from css-tricks https://css-tricks.com/snippets/css/font-stacks/*/

body {
  /*background: url('/assets/crossword.png');*/
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  
  }


.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  font-color: #FFFFFF;  /*THIS IS NOT WORKING TO SET THE FONT COLOR OF THE NAVIGATION LINKS*/
  background-color: #070854;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-default a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 36px;
  font-weight: 100;
  color: #E6E219;
}

.hero {
  background: url('brain-transparent.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  color: white;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
  background:rgba(0,0,0, 0.5);
	color: #FFFFFF;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

