/*font family from css-tricks https://css-tricks.com/snippets/css/font-stacks/*/

body {
  background: url('/assets/bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  }


.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  font-size: 24px;
  color: white;  /*THIS IS NOT WORKING TO SET THE FONT COLOR OF THE NAVIGATION LINKS*/
  background-color: #070854;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-default a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 36px;
  font-weight: 100;
  color: #E6E219;
}

.navbar .nav>li>a{color: #FFF}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.hero {
  background: url('brain-transparent.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  color: white;
}

.frosty {
	margin-top: 50px;
  	background:rgba(0,0,0, 0.5);
	color: #FFFFFF;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
  margin-top: 40px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

.clr {
  clear:both;
}
